<p>
  <strong>Title:</strong>
  <%= @study.title %>
</p>
 
<p>
  <strong>Text:</strong>
  <%= @study.text %>
</p>
 
<%= link_to 'Back', studies_path %>
<%= link_to 'Edit', edit_study_path(@study) %> |
